/* define fonts */
@font-face {
    font-family: 'bellota';
    src: url('fonts/BellotaText-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'fredoka-light';
    src: url('fonts/Fredoka-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'zen-kurenaido';
    src: url('fonts/ZenKurenaido-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'martel';
  src: url('fonts/Martel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'martel-bold';
  src: url('fonts/Martel-Bold.ttf') format('truetype');
}

/* navbar */

/* .fixed-top {
  position: absolute;
} */

.bg-gray-800 {
  background-color: rgb(255, 255, 255) !important;
}

.navbar {
    min-width: 80px;
    padding: 0 !important;
    background-color: transparent !important;
}

.nav-item {
  font-family: 'martel', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color:  #6e8923;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.nav-link-special {
    font-weight: 800;
    text-shadow: 1px 0 #cb4d4d, -1px 0 #cb4d4d, 0 1px #cb4d4d, 0 -1px #cb4d4d,
             1px 1px #cb4d4d, -1px -1px #cb4d4d, 1px -1px #cb4d4d, -1px 1px #cb4d4d;
    font-size: larger;
    padding-top: 7%;
}

.nav-link-special:hover {
    color: #ffffff;
    font-weight: 500;
}

.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
  }

.navbar-dark .navbar-brand {
    color: #ffffff;
    font-family: 'martel-bold', sans-serif;
    font-size: clamp(10px, 1.7vw, 30px);
    margin-left: 6%;
    padding-top: 5%;
}


.navbar-dark .navbar-brand:hover {
    color: #6e8923;
}

.ml-auto {
  margin-right: 1% !important;
}

/* About */
.bg-image {
    background-image: url(../images/portfolio_cover.webp);
    background-position: 0px -56%;
    background-size: cover;
    /* margin-top: 25px; */
    height: 14vw;
    box-shadow: -8px -15px 6px 16px rgb(0 0 0);
    }


.h4-header {
    font-family: 'bellota', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2vw;
    color: rgb(188, 187, 187);
}

.profile-pic {
    margin-top: 3.7%;
    margin-left: 77.5%;
    width: 16%;
    height: 13%;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.about-title {
    font-size: 250%;
    margin-top: 2%;
    font-family: 'martel-bold', sans-serif;
    font-weight: 1000;
    color: black;
}

.about-header {
    text-align: center;
}

.about-text{
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 0.5%;
    text-align: justify;
}

/* skills section */

.prog-bars {
    margin-top: 1%;
    margin-bottom: 12%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    display: inline-block;
}

.prog-bar {
    margin-top: 7%;
}

.progress {
    margin-top: 1%;
}

.title-progress {
    font-family: 'bellota', sans-serif;
    font-weight: 1000;
    font-size: clamp(12px, 1.7vw, 30px);
    color: rgb(255, 255, 255);
}

.progress-bar {
    background-color: #acd051;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-about-container {
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
}

.langs-icons-about-container {
    padding-top: 3.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.material-symbols-outlined.md-100 {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: clamp(100px, 1.7vw, 50px);
    color: rgb(104 132 34);
    vertical-align: middle;
    display: inline-block;
}

.p-img-icon{
    display:inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    /* filter: drop-shadow(1px 3px 5px rgb(0 0 0 / 0.4)); */
}

.p2-img-icon {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    -webkit-filter: invert(100%);
    /* filter: drop-shadow(1px 3px 5px rgb(0 0 0 / 0.4)); */
}

.material-symbols-outlined.md-30 {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 30px;
    color: rgb(137, 163, 52);
    vertical-align: middle;
    display: inline-block;
}

.icon-align {
    display: inline-block;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
    width: 150px;
}


.caption-icon {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'bellota', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
    color: #6e8923;
}

.subtitle {
    font-family: 'martel', sans-serif;
    font-weight: 900;
}

.img-icon {
    /* filter: opacity(0.1) drop-shadow(0 0 0 rgb(0, 0, 0)); */
    filter: grayscale(100%);
}

.img-icon:hover {
    opacity: .5;
}

.lang-img-icon {
    margin: 10px;
}

.lang-img-icon:hover {
    opacity: .5;
}

/* Projects */

.card-img:hover, .card-img-top:hover {
    opacity: .5;
}

.img-fluid {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    display: block;
}


.title-img-gallery {
    font-family: 'fredoka-light', sans-serif;
    font-weight: bolder;
}

.heroku {
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Sections*/

.about-section {
    position: static;
    min-height: 80vh;

}

.colored-section {
    background-color: #121409;
    /* height: 100vh; */
    align-items: center;
    margin:auto;
}

/* Form */

.contact-container {
    width: 55%;
    margin: 0 auto;
    margin-left: 15%;
    justify-content: center;
}

.contact-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 20% 8% 22%;
}

.contact-input {
    width: 100%;
    position: relative;
    margin-bottom: 26px;
    padding-top: 5px;
}

.contact-label-input {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.2;
    text-align: right;
}

.form-control {
    border: 1px solid #7c7c7c;
    width: 50vw;
    height: calc(1.5em + 0.75rem + 2%);
}

.form-control:focus {
    border-color: #f5deb3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f5deb3;;
}

.submit-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0vw;
}

.contact-form .button-1 {
  background-color: #f8c464;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #616161;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f5deb3;
  color: #ffffff;
}

/* others */

.other-header {
    align-items: center;
    text-align: center;
    padding: 5%;
    margin: 0 auto;
}

.other-title {
    font-size: 250%;
    /* font-size: clamp(40px, 1.5vw, 20px); */
    font-family: 'martel', sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.p-4 {
    padding-bottom: 3%!important;
    height: 120px!important;
}

.bg-white{
  padding-bottom: 30px;
}

.project-category {
    font-size: smaller;
    margin: 2% auto -4%;
    width: fit-content;
    padding: 1px 10px 1px 10px;
    border-radius: 25px;
    box-shadow: 2px 3px 9px 0px #4b5563;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }


.footer-section {
    background-color: #121409;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 1;
    /* padding-top: 10%; */
    padding-bottom: 1%;
    padding-left: 1%;
    color: white;
}

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

/* media */

@media only screen and (max-width: 1000px) {
  .navbar {
    background-color: #121409 !important;
  }

  .bg-image {
    margin-top: 4vw;
  }
}

@media only screen and (max-width: 544px) {
  .profile-pic {
    margin-top: 10vw !important;
    width: 18vw !important;
  }

  .bg-image {
    height: 25vw !important;
    background-position: 0px -27vw !important;
  }

  .project-category {
    font-size: 10px !important;
  }

  .h4-header {
    display: none;
  }

  .other-title {
    font-size: 25px !important;
  }

  .about-title {
    font-size: 25px !important;
  }
  .p-4 {
    height: 180px !important;
  }
}

@media screen and (max-height: 767px) {
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
