<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1MXVDHSJ5W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-1MXVDHSJ5W');
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <!-- JavaScript Bundle with Popper -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <style type="text/css">
        /*Rules for sizing the icon*/
        .material-icons-outlined.md-18 { font-size: 18px; }
        .material-icons-outlined.md-24 { font-size: 24px; }
        .material-icons-outlined.md-36 { font-size: 36px; }
        .material-icons-outlined.md-48 { font-size: 48px; }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marco Rodrigues">
    <meta property="og:image" content="static/images/profile-pic.webp"/>
    <meta name="keywords" content="Data Science, AI, Web3">
    <meta name="description" content="Discover a refreshing Data Science, AI, and Web3 portfolio curated by Marco. A freelancer proficient in various IT skills, spanning from coding to technical writing.">
    <title>Marco Rodrigues | Data Science, AI & Web3</title>
    <link rel = "icon" href = "static/images/profile-pic.webp" type = "image/x-icon" style="border-radius: 50%;">
</head>
<body>
    {% block container %}
    {% endblock %}
</body>
<script>
    // Get the element to be animated
    const fadeElem = document.querySelector('.fade-in');

    // Create a new Intersection Observer object
    const observer = new IntersectionObserver(entries => {
    // Loop over the entries array
    entries.forEach(entry => {
        // Check if the target element is intersecting with the viewport
        if (entry.isIntersecting) {
        // Add the "fade-in" class to start the animation
        fadeElem.classList.add('fade-in');
        } else {
        // Remove the "fade-in" class to stop the animation
        fadeElem.classList.remove('fade-in');
        }
    });
    });

    // Start observing the target element
    observer.observe(fadeElem);
</script>
</html>
